/* ###### Circle Menu ###### */

:root {
  font-size: 14px;
  --clip-x: 50%;
  --clip-y: 50%;
}



header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

/* Taille Logo */
.logo {
  width: 100px; 
  height: auto;
  margin-right: auto; 
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Bouton menu rond */
.header__button {
  z-index: 30; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 0;
  cursor: pointer;
  position: relative;
  margin-top: 0em;
  margin-right: 1em;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.header__button[data-open='true'] {
  background-color: rgb(255, 224, 192);
  animation-name: scale;
}

.header__button[data-open='false'] {
  transition: background-color 250ms linear;
}

.header__button.open {
  background-color: rgb(255, 224, 192);
  animation-name: scale;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

@keyframes reveal {
  0% {
    clip-path: circle(0% at var(--clip-x) var(--clip-y));
  }
  100% {
    clip-path: circle(150% at var(--clip-x) var(--clip-y));
  }
}

@keyframes hide {
  0% {
    clip-path: circle(150% at var(--clip-x) var(--clip-y));
  }
  100% {
    clip-path: circle(0% at var(--clip-x) var(--clip-y));
  }
}

.header__nav {
  background-color: rgb(0, 0, 0);
  position: fixed;
  overflow: hidden;
  z-index: 20; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: circle(0% at var(--clip-x) var(--clip-y));
  transition: clip-path 0.5s ease-in-out;
}

.header__nav[data-active='true'] {
  animation: reveal 0.7s ease-out forwards;
}

.header__nav[data-active='false'] {
  animation: hide 1.4s ease-out forwards; 
}

.header__menu {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 5em;
  left: 0;
}

.header__menu > .header__menu-item {
  font-size: 3em;
  margin-left: 1.7em;
  list-style: none;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0;
}

.header__menu-item a {
  color: rgb(255, 224, 192);
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header__menu-item a:hover {
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ###### End Circle Menu ######*/


/* ###### Knockout Text Video Background ###### */

/* Hauteur de la vidéo à la moitié de la page */
.clip-text-video {
  position: relative;
  height: 50vh; 
}
 
video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.clip-text-video__overlay {
  position: absolute;
  top: -7vh;
  width: 100vw;
  height: 10vh; 
  background: #000;
}

.clip-text-video__text {
  position: absolute;
  top: 0.1vh;
  width: 100vw;
  height: 50vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0 solid white;
  color: #fff;
  overflow: hidden;
  background: #000;
  mix-blend-mode: multiply;
}

.clip-text-video__overlay-bottom {
  position: absolute;
  bottom: -30vh;
  width: 100vw;
  height: 40vh; 
  background: #000;
}

.clip-text-video__text p {
  font-size: 35em;
  line-height: 1;
  font-weight: 900;
  font-family: 'Archivo Black', sans-serif; 
  letter-spacing: 0.02em; 
}

/* Taille de texte pour les tablettes */
@media (max-width: 1024px) {
  .clip-text-video__text p {
    font-size: 20em; 
  }
}

/* Taille de texte pour les petits écrans */
@media (max-width: 768px) {
  .clip-text-video__text p {
    font-size: 15em; 
  }
}

/* Taille de texte pour les très petits écrans */
@media (max-width: 480px) {
  .clip-text-video__text p {
    font-size: 8em; 
  }
}

/* Pour les tablettes */
@media (max-width: 1024px) {
  .header__menu > .header__menu-item {
    font-size: 2em; 
  }

  .header__button {
    width: 40px; 
    height: 40px;
  }
}

/* Pour les petits écrans */
@media (max-width: 768px) {
  .header__menu > .header__menu-item {
    font-size: 1.5em; 
  }

  .header__button {
    width: 35px; 
    height: 35px;
  }
}

/* Pour les très petits écrans */
@media (max-width: 480px) {
  .header__menu > .header__menu-item {
    font-size: 1em; 
  }

  .header__button {
    width: 30px; 
    height: 30px;
  }
}

/* ###### End Knockout Text Video Background ###### */

/* ###### Navbar ###### */

.header__content {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 100%;
}

.icons-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible; 
}

.cart-icon {
  margin-left: 2em; 
  margin-right: 3em;
}

.user-icon {
  padding: 0.5em; 
}

@keyframes zoomBounce {
  0%, 100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(0.9); 
  }
  90% {
    transform: scale(1.1); 
  }
}

.user-icon:hover {
  animation: zoomBounce 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.7); 
}

@media (max-width: 768px) {
  .header__content {
    padding: 0 1em;
  }
}


.icons-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 72px; 
  right: 14em; 
  background-color: black;
  color: white;
  border: none; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 50; 
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  padding: 0 20px; 
}

.dropdown-menu li:first-child {
  margin-top: 10px; 
}

.dropdown-menu li:last-child {
  margin-bottom: 10px; 
}

.dropdown-menu li a {
  color: white;
  font-size: 1.5rem;
}

.dropdown-menu li a:hover {
  background-color: transparent; 
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
}

@keyframes dropdownBounce {
  0%, 100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.95);
  }
  90% {
    transform: scale(1.05);
  }
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  animation: dropdownBounce 0.3s ease-in-out;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.dropdown-menu li a:hover {
  background-color: transparent; 
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
}


.inverted-icon {
  transform: scaleX(-1);
}

.icon-spacing {
  margin-right: 8px; 
}

/* ###### End Navbar ###### */
