@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 50px;
  justify-content: center; 
}

.footer-fixed {
  position: relative; 
  bottom: 0;
  width: 100%;
  z-index: 10; 
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 223, 167);
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  overflow-y: auto; /* Changed this line */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Maintenance */
strong {
  font-weight: bold;
  color: rgb(74, 255, 170);
}

.entretien {
  color: rgb(246, 36, 36);
}



.fade-up {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-up.active {
  opacity: 1;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
