.text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.static-text {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em;
  letter-spacing: 0.05px;
}

@media (max-width: 768px) {
  .text-container {
    flex-direction: column;
    align-items: center;
  }

  .static-text {
    text-align: center;
  }

  .banner {
    margin-bottom: 0.2em;
  }
}